* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 0px 70px;
    align-items: center;
}

.logo {
    width: 134px;
    height: 44px;
    align-items: center;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 363px;
    height: 26px;
    list-style: none;
    gap: 24px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #575757;
    transition: .4s;
}

.nav-links ul li a:hover {
    color: black;
}

.button {
    align-items: center;
    padding: 15px 40px;
    background-color: #1d4ed8;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    background-color: navy;
    transform: translateY(-8px);
    box-shadow: 0 10px 20px #00000026;
}

.hero {
    background-image: linear-gradient( 30deg, #000000cc 40%, transparent 60%), url('./assets/banner.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content button {
    padding: 25px 35px;
    margin: 240px 0px 0px 0px;
    font-size: larger;
}

.hero-content h1 {
    font-weight: bold;
    font-size: 4.5em;
}

.hero-content p {
    font-size: 1.3em;
}

.SpeakerSection {
    width: 100%;
    height: 1400px;
}

.SpeakerSection h1 {
    padding: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.Speakers-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0px 80px;
    height: 150vh;
}

.card {
    background: white;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 10px;
    transition: .4s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px #00000026;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card h6 {
    color: #275dff;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 08px 20px;
}

.card h3 {
    font-size: 2em;
    padding: 08px 20px;
}

.card p {
    color: #666;
    font-size: 1.2em;
    padding: 08px 20px;
}

.PricingSection {
    width: 100%;
    height: 90vh;
}

.Pricing-title {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.PricingSection p {
    color: #666;
    font-size: 0.9em;
    padding: 20px;
    text-align: center;
}

.pricing-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 30px 160px;
    height: 100vh;
}

.cards {
    background: white;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 10px;
    height: 65vh;
    padding: 20px 25px;
    transition: .4s;
}

.cards:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px #00000026;
}

.cards h5,
span {
    color: #666;
    font-size: 1em;
    opacity: 0.8;
    padding: 0px;
}

.cards h1 {
    font-weight: bold;
    font-size: 3em;
}

.cards hr {
    opacity: .3;
    margin: 25px 0px;
}

.cards ul {
    margin: 10px 0px;
    padding: 0px 20px;
}

.cards ul li {
    font-size: 0.9em;
    color: #444;
    line-height: 1.9;
}

.cards ul li::marker {
    color: #2f66ff;
    font-size: 1.2em;
}

.standard-btn {
    width: 100%;
    height: 40px;
    background: transparent;
    color: #2f66ff;
    border: 2px solid #2048b6;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
}

.standard-btn:hover {
    background: #2f66ff;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #00000026;
}

#team-card {
    background-color: #F8F9FB;
}

.team-btn {
    width: 100%;
    height: 40px;
    background: transparent;
    color: #0D1B2A;
    border: 2px solid #0D1B2A;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
}

.team-btn:hover {
    background: #0D1B2A;
    color: #F8F9FB;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
}

.card-active {
    background: linear-gradient(135deg, #0A0A0A, #111827, #2563EB);
    border: 1px solid #111827;
    overflow: hidden;
    border-radius: 10px;
    height: 65vh;
    padding: 20px 30px;
    transition: .4s;
}

.card-active:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px #05000080;
}

.card-active h5 {
    color: #93C5FD;
    font-size: 1em;
    padding: 0px;
}

.card-active h1 {
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.card-active hr {
    opacity: .3;
    margin: 25px 0px;
}

.card-active ul {
    margin: 10px 0px;
    padding: 0px 20px;
}

.card-active ul li {
    font-size: 0.9em;
    color: #FFFFFF;
    line-height: 1.9;
}

.card-active ul li::marker {
    color: #2f66ff;
    font-size: 1.2em;
}

.card-active button {
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #2563EB, #7C3AED);
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
}

.card-active button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #00000026;
}

.experience {
    padding: 110px 8%;
    background: #08111f;
}

.experience-heading {
    text-align: center;
    max-width: 750px;
    margin: auto;
    margin-bottom: 70px;
}

.experience-heading span {
    color: #4F8CFF;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
}

.experience-heading h2 {
    font-size: 48px;
    color: #fff;
    margin: 15px 0 20px;
}

.experience-heading p {
    color: #b7c2d1;
    line-height: 1.8;
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 35px;
}

.experience-card {
    position: relative;
    padding: 35px;
    border-radius: 18px;
    background: #101c2d;
    overflow: hidden;
    transition: .4s;
    border: 1px solid #ffffff14;
}

.experience-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(#2563EB, #7C3AED);
}

.experience-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 45px rgba(36, 99, 235, 0.251);
}

.experience-number {
    font-size: 55px;
    font-weight: 700;
    color: rgba(255, 255, 255, .08);
    margin-bottom: 20px;
}

.experience-card h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
}

.experience-card p {
    color: #b7c2d1;
    line-height: 1.8;
}

.footer {
    background: #101c2d;
    padding: 60px 25px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 120px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ffffff26;
    border-radius: 30%;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

.social-links a:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #00000026;
}

.footer hr {
    opacity: .1;
    margin: 25px 0px;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    color: #b8c2d1;
    font-size: 1em;
    letter-spacing: .1px;
}